*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.sec-1
{
  background-image: url("../images/banner.jpg");
  background-position:right center;
  background-size: 100% auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}
#color-nav{
  background-color: #000;
}
.container{
  margin-left: 40px;
  margin-right:15px;
}
nav{
  display: flex;
  align-items: center;
  padding: 3px 0px;
  background-color: #000;
}
nav>img{
  width: 25px;
}
nav>span{
  color: #FFE368;
  font-variant:small-caps;
  display: inline-block;
  padding-left: 10px;
  font-style: italic;
}
.ul{
  display: flex;
  margin-left: auto;
}
nav a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
nav a>i{
  border: .5px solid #ccc;
  border-radius: 50%;
  padding: 4px;
  margin-right:5px;
}
.sec-1>header{
  margin-top: 60px;
}
.sec-1>header>h3{
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: .6rem;
}
.sec-1>header>h1{
    text-transform: capitalize;
    font-size: 30px;
}
.sec-1 header>h1>span{
  color: #CD8383;
}
.sec-1>header button,#art-4 .h1-button>button,.sec-6 .logos>button{
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  color: gray;
  font-size: .7rem;
}
ul{
display: none;
}
.art-1{
background-color: #000;
color: #fff;
padding-bottom: 10px;
padding-right: 15px;
padding-top: 20px;
text-align: justify;
}
.art-1 h4{
  font-family: "Trebuchet MS";
  margin-bottom: 20px;
  margin-top: 20px;
  color: #DFAD54;
  font-size:1.1rem;
}
footer>h2 {
  background-color: #FECB05;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
#art-2{
  margin-bottom: 40px;
}
#art-2 figure{
  background-color: #000;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
#art-2 .card figure>img{
  width: 100%;
}
#art-2 .card figcaption>span{
  position: absolute;
  top:20px;
  left: 20px;
  color: #ddd;
  display: inline-block;
  border-radius: 15px;
  background-color: rgba(0,0,0, 0.5);
  padding: 10px 15px;
}
#art-2 .card figcaption>header{
  padding-left:10px;
  padding-top: 5px;
  color:#FECB05;
}
#art-2 .card figcaption>p{
  color: #fff;
    padding-left:10px;
    padding-top: 5px;
    text-align: justify;
    padding-right: 10px;
}
.sec-3{
  background-color: #000;
  padding-top: 30px;

}
.sec-3>h5{
  text-align: center;
  color: RGB(254,203,5);
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 20px;
}
.sec-3 .container>img{
  width: 100%;
  margin-bottom: 10px;
}
 #art-4{
background-color:RGB(254,203,5);
text-align: justify;
color: #fff;
padding-top: 20px;
padding-bottom: 20px;
}
#art-4 .container:first-of-type h3{
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 10px;
}
 #art-4 .container:first-of-type h1{
  font-size: 1.5rem;
}
#art-4.container:nth-of-type(2){
  color: #fff;
  text-align: justify;
  padding-top: 20px;
}

.sec-4{
  background-color: #000;
}
.sec-4 .container h4{
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-top: 30px;
}
.sec-4 .container>p{
color: #ddd;
font-weight: lighter;
font-family: serif;
font-weight: 100;
text-align: justify;
padding-top: 20px;
}
.sec-4 #art-5 .card4>img{
  margin-top: 20px;
  width: 100%;
}
.sec-4 #art-5 .pra{
  margin-top: 20px;
  padding-bottom: 15px;
  color: #ddd
}
.sec-4 #art-5 .pra div{
  margin-bottom: 20px;
}
.sec-4 #art-5 .pra div>h1{
    margin-bottom: 15px;
    font-size: 1.4rem
}
.sec-4 #art-5 .pra div>h5{
    margin-bottom: 5px;
}
.sec-5{

background-image: url("../images/contactus.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:center center;
}
.sec-5 .overlay{
background-color: RGB(50,83,87,.6);
}
.sec-5 .container h4{
  color: #FFBC00;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding-top: 6px;
}
.sec-5 .container p{
  text-align: justify;
  color: #ddd;
  font-family: serif;
}
.sec-5 .container>form{
margin-top: 10px;
box-shadow: 0px 0px 10px #FFBC00;
border: 1px solid #FFBC00;
border-radius: 5px;
margin-bottom: 50px;
width: 80%;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
margin-bottom: 5px;

}
form input, form button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px 10px;
  border: none;
  width:80%;
  font-family: arial;

}
form input{
  border-bottom: 2px solid gray;
}
form button{
  background-color: #FFBC00;
  color: #9C7A18;
  letter-spacing: 1.5px;
}
.sep{
  background-image:url("../images/sep.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding: 7px;
}
.sec-6{
  background-color: #000;
  color:#ddd;
  padding-top: 20px;
  padding-bottom: 20px;

}
.sec-6 div{
  padding-top: 10px;

}
.sec-6 .content>span{
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
}
.sec-6 .icon>i{
  margin-bottom: 5px;
  font-size: 12px;
  padding-right: 5px;
}
.sec-6 .logos>img{
  width: 50px;
}
.sec-6 .icon>span{
  font-size: 13px;
}
.sec-6 .logos>input{
background-color: #000;
border: none;
border-bottom: 1px solid gray;
padding-bottom: 10px;
display: block;
margin: 10px 0px;
width: 100%;
}


@media (min-width: 576px) {
  .sec-1{
      padding-bottom: 50px;
  }
	.container{
		width: 520px;
		margin-left: auto;
		margin-right: auto;
	}
  ul li{
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    font-size: 12px;
    padding-left: 5px;
    margin-right: 6px;
  }
}
@media (min-width: 768px) {
  .sec-1{
      padding-bottom: 110px;
  }
	.container {
		width: 720px;
	}
  ul{
    display: inline-block;
  }
  ul li{
    font-size: 16px;
    padding-left: 5px;
    margin-right: 15px;
    font-weight: lighter;
  }
  .sec-1 header>h3{
    font-size: .8rem;
    padding-top: 20px;
  }
  .sec-1 header>h1{
    font-size:2rem;
  }
#art-2 .card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#art-2 .card>figure{
  flex-basis: 32%;
}
.sec-3>h5{
  font-size: 1.3rem
}
.sec-3 .container:first-of-type{
  display:au flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec-3 .container>img{
  width: 48%;
  margin-right: 10px;

}
.sec-3 #art-4{
padding-left: 100px;
}

#art-5 .pra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#art-5 .pra div{
  width: 48%;
}
.sec-5 .container form{
  width: 50%;
}
.sec-6 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

}
@media (min-width: 992px) {
  .sec-1{
      padding-bottom: 150px;
  }
	.container {
		width: 920px;
	}
  ul li{
    padding-left: 15px;
  }
.sec-1>header>h3{
    font-size: .9rem;
  }
.sec-1>header>h1{
    font-size:3rem;
  }
.sec-3 .container>img{
    width: 23%;
}
#art-4 .container h3,#art-4 .container h1{
  margin-left: 60px;
}
#art-4 .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#art-4 .container .h1-button{
  margin-left: auto;
  margin-right: 50px;
}
#art-5{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#art-5 .card4{
  flex-basis: 45%;
}
#art-5 .pra{
    flex-basis: 50%;
}
#art-5 .pra div>p{
font-weight: lighter;
}
#art-5 .pra div>h1{

    font-size: 1.7rem
}
.sec-4{
  padding-bottom: 40px;
}
.sec-5 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec-5 .container>.h4-p{
width: 60%;
margin-top: 50px;

}
.sec-5 .container h4{
  padding-top: 0px;
}
.sec-5 .container>form{
    width: 30%;
    margin-top: 50px;
    margin-bottom: 30px
}
.sep{
  margin-top: 2px;
}

@media (min-width: 1200px) {
  .sec-1{
      padding-bottom: 200px;

  }
	.container {
		width: 1000px;
	}
  .sec-1>header{
    margin-top: 100px;
  }
  .sec-3 #art-4{

      /*padding-left: 250px;*/
    }

  }
}
